.footer {
  width: 100%;
  background: #191a1d;
  color: #3f4146;
  text-align: center;
  padding-bottom: 60px;
}

.footer h4 {
  font-size: 20px;
  color: white;
}

.footer a {
  text-decoration: none;
  color: #999999;
}

.footer ol {
  list-style: none;
  line-height: 2em;
  padding: 0;
}

.brand {
  margin-top: 50px;
}

.support {
  border-top: 1px solid;
}

.support-logo {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url(../images/support.svg) no-repeat;
  background-size: 60px 60px;
}

.brand-logo {
  height: 60px;
  margin: 0 auto;
  background: url(../images/brand.svg) no-repeat center;
}

@media screen and (min-width: 64em) {
  .footer .pure-g {
    margin: 0 auto;
    width: 80%;
  }

  .footer .support {
    border-top: none;
    border-left: 1px solid;
  }
}

