body{
  font-size: 16px;
  line-height: 1.42857143;
}
i{
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav {
  position: absolute;
  right: 39px;
  top: 24px;
  margin-bottom: 1em;
  text-align: center;
  padding-left: 0;
  z-index: 1100;
}

.nav .nav-container a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 1em;
  padding: 9px 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.nav a:hover{
  opacity: 0.6;
}
.nav .navOpen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition:all 0.2s ease-in-out;
  background-color: #191a1d;
  padding: 1em 1em 5em 1em;
  box-sizing: border-box;
}
.nav .navOpen .nav-container a{
  font-size: 1em;
  color: #fff;
  padding: 1em 0;
  display: block;
  margin: 0;
}
.nav .navOpen .nav-container{
  display: block;
  padding-top: 5em;
}
.nav .navOpen .nav-container .accountBtn{
  display: block
}
.nav .navOpen .nav-container .loginIn{
  border-color: #fff !important;
  padding: 8px 1.2em;
  box-sizing: border-box;
  margin-top: 1em;;
  margin-bottom: .5em;
  width: 100%;
}
.nav .navOpen .nav-container .signUp{
  background: #f5c538;
  border-color: #f5c538 !important;
  padding: 8px 1.2em;
  box-sizing: border-box;
  width: 100%;
}

.nav .nav-container .loginIn{
  background: 0 0;
  color: #1b1b1b;
  margin-left: 3.5em;
  border: 2px solid #1b1b1b !important;
  font-weight: 400;
  margin-right: 0;
}
.nav .nav-container .loginIn:hover{
  background-color: #333;
  color: #fff;
  opacity: 0.8;
}
.nav .nav-container .signUp{
  background: #1b1b1b;
  color: #fff;
  border: 2px solid #1b1b1b !important;
  margin-left: 0;
}
.nav .nav-container .btn{
  display: inline-block;
  margin-bottom: .5em;
  padding: 8px 1.2em;
  border: none;
  /*background-color: #53565c;*/
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 0;
  -webkit-text-stroke-width: .5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
}
.main-navblock{

}
@media (min-width: 955px){
  .nav-container {
    display: block !important;
  }
}
.nav-container{
  display: none;
}
@media (min-width: 955px){
  .burger-wrapper {
    display: none !important;
  }
}
.burger-wrapper{
  display: block;
  padding: 1.2em .6em;
  float: right;
  cursor: pointer;
  position: relative;
}
.burger-wrapper .burger, .burger-wrapper .burger:after, .burger-wrapper .burger:before {
  background: #1b1b1b !important;
}
.burger-wrapper .burger:after {
  content: '';
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: .625em;
  width: 1.875em;
  height: 5px;
  left: 0;
  background: #fff;
}
.burger-wrapper .burger.active-burger:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff !important;
}
.burger-wrapper .burger:before {
  content: '';
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: -.625em;
  width: 1.875em;
  left: 0;
  height: 5px;
  background: #fff;
}
.burger-wrapper .burger {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  width: 1.875em;
  height: 5px;
  background: #fff;
}
.burger-wrapper .burger.active-burger:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #fff !important;
}
.accountBtn{
  display: inline-block;
}
.accountInfo{
  display: none;
  position: relative;
}
.nav .navOpen .nav-container .accountInfo {
  display: block !important;
  background-color:  #f5c538;;
}
.nav .navOpen .nav-container .accountInfo .info{
  box-sizing: border-box;
  width: 100%;
}
.nav .navOpen .nav-container .accountInfo .info p{
  text-align: center;
  color: #ffffff;
}
.nav .navOpen .nav-container .accountInfo .info span{
  float: none;
  display: inline-block;
}
.nav .navOpen .nav-container .accountInfo .info i{
  float: none;
}
.nav .navOpen .nav-container .accountInfo .info .jiahao{
  display: inline-block;
}
.nav .navOpen .nav-container .accountInfo .info .changeAccount span{
  position: relative;
  top: -13px;
}
.nav .navOpen .nav-container .accountInfo .info .infoList i{
  display: inline-block;
  margin-left: 14px;
}
.Open{
  border-color: #ffffff !important;
}
.infoBox{
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #333;
  transition: 0.3s all ease-out;
}
.infoBox span{
  margin-right: 20px;
}
.infoBox i{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: cover;
}
.xiajiantou{
  background: url("../templates/up.svg") no-repeat;
}
.nav .nav-container .accountInfo .info .infoList .right{
  background: url("../templates/right.svg") no-repeat;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.shangjiantou{
  background: url("../templates/down.svg") no-repeat;
}
.info span,.info i{
  float: left;
}
.jiahao{
  background: url("../templates/add.svg") no-repeat;
  width: 40px;
  height: 30px;
  background-size: cover;
  margin: 0 -3px 0 -10px;
  position: relative;
  top: -4px;

}
.info{
  display: none;
  padding: 5px 0 0 0;
  top: 45px;
  right: 0;
  position: absolute;
  border: 2px solid #fff;
  width: 250px;
}
.info li{
  cursor: pointer;
  padding: 0 10px;
  text-align: left;
  margin-top: -1px;
  transition: 0.3s all ease-out;
}
.info li:hover{
  background-color: #ffffff;
  opacity: 0.6;
}
.navOpen .info li:hover span{
  color: #333333;
}
.navOpen .info li .jiahao{
  background: url("../images/black_add.svg") no-repeat;
  background-size: cover;
}
.navOpen .info li:hover .jiahao{
  background: url("../templates/add.svg") no-repeat;
  background-size: cover;
}
.info p{
  box-sizing: border-box;
  margin: 0;
  padding: 10px 10px;
  border-top: 1px solid #fff;
}
.right p{
  border: none !important;
}
.info li a{
  height: 20px;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: normal !important;

}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.infoList li:nth-child(1) p{
  border: none;
}
.open{
  display: block !important;
}
.changeAccount{

}
@-webkit-keyframes upAndDownImg{ 0%{top: -10px} 50%{top: 0} 100%{top: -10px}}
@-moz-keyframes upAndDownImg{ 0%{top: -10px} 50%{top: 0} 100%{top: -10px}}
@-o-keyframes upAndDownImg{ 0%{top: -10px} 50%{top: 0} 100%{top: -10px}}
@keyframes upAndDownImg{ 0%{top: -10px} 50%{top: 0} 100%{top: -10px}}
.activityicon{
  width: 60px;
  position: relative;
}
.navOpen .activityicon{
  height: 22px;
  width: 100%;
}
.activityicon i{
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  z-index: 10;
  animation: upAndDownImg 2s infinite ease-in-out;
}
.navOpen .activityicon i{
  left: 46.5%;
}
.activityicon .img1{
  background: url("../images/teeicon.svg");
  display: inline-block;
}
.activityicon .img2{
  z-index: 8;
  display: inline-block;
  background: url("../images/teeicon2.svg");
}
.activityicon:hover .img2{
  z-index: 10;
}
.active {
  color: #f5c538;
}
.show {
  border-bottom: solid 5px #1b1b1b;
  padding-bottom: 35px !important;
}
.navOpen .show{
  padding-bottom: 1em !important;
  border: none;
}
.nav .nav-container.black a{
  color: #fff;
}
.nav .nav-container.black .loginIn{
  border-color: #fff;
}
.nav .nav-container.black .loginIn:hover{
  background-color: #fff;
  color: #333;
}
.nav .nav-container.black .signUp{
  background: #f5c538;
  color: #333;
  border-color: #f5c538;
}
.nav .nav-container.black .signUp:hover{
  background: #333;
  color: #f5c538;
}
.onlineGroup{

}